{% extends 'ui/base.html' %}
{% block Login %}
{% endblock %}
{% block body %}


<div class="container-fluid">
    <div  class="container  col-md-7 col-sm-8">
        <div style=" background-color:#222222; color:#FFF;"class="panel panel-info" >
             <button style=" border: 0px solid #5cb85c ;background-color:#761c19;color: #FFFFCC;text-align:center"   class="panel-heading"> <b class="btn btn-xs"> Get </b></button>
                                <div style="display: inline-block;">http://hmsonline.herokuapp.com/api/state</div>
 <button data-toggle="collapse" data-target=".api1" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>

                                 <div  class="collapse api1">
<h3> <span style="color: #F5F5F5"> Getting All The State List Present In The Database </span></h3>

<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="description">
<p>&nbsp;</p>
</div>
<div class="headers">
<h4 class="headers-heading"><strong>HEADERS</strong></h4>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
</div>
</div>
</div>
<h3 class="headers-heading">&nbsp;</h3>
</div>
</div>
</div>
</div>




                                 </div>

                </div>
        <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
                            <button style=" border: 0px solid #23282e ;background-color:#5cb85c;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b >Post</b></button>
                                <div style="display: inline-block">http://hmsonline.herokuapp.com/api/state</div>

 <button data-toggle="collapse" data-target=".api2" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>

                                 <div  class="collapse api2">

                                        <h3> <span style="color: #F5F5F5"> Used To Add  States  In The Database </span></h3>
                                     <div class="api-information">
<div class="headers">
<h3 class="headers-heading"><strong>&nbsp;HEADERS</strong></h3>
<hr />
<div class="param row">
<div class="name col-md-3">Content-Type</div>
<div class="value col-md-9">application/json</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
<div class="value col-md-9">&nbsp;</div>
<div class="value col-md-9">&nbsp;</div>
</div>
</div>
<div class="request-body">
<h3 class="body-heading"><strong>&nbsp; BODY</strong></h3>
<hr />

<div class="param row">
<div class="name col-md-3">statename</div>
<div class="value col-md-9">UP</div>
</div>
<hr />

</div>
</div>
                                </div>

                </div>
        <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
                            <button style=" border: 0px solid #23282e ;background-color:#761c19;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b class="btn btn-xs"> Get </b></button>
                                <div style="display: inline-block">http://hmsonline.herokuapp.com/api/college</div>

 <button data-toggle="collapse" data-target=".api3" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>

                                  <div  class="collapse api3">
<h3> <span style="color: #F5F5F5"> Getting All The Colleges List Present In The Database </span></h3>

<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="description">
<p>&nbsp;</p>
</div>
<div class="headers">
<h4 class="headers-heading"><strong>HEADERS</strong></h4>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
</div>
</div>
</div>
<h3 class="headers-heading">&nbsp;</h3>
</div>
</div>
</div>
</div>




                                 </div>

                </div>
        <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
                            <button style=" border: 0px solid #23282e ;background-color:#5cb85c;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b >Post</b></button>
                                <div style="display: inline-block">http://hmsonline.herokuapp.com/api/college</div>

 <button data-toggle="collapse" data-target=".api4" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>

                                 <div  class="collapse api4">
                                     <h3> <span style="color: #F5F5F5"> Used To Add  Colleges  In The Database </span></h3>
                                     <div class="api-information">
<div class="headers">
<h3 class="headers-heading"><strong>&nbsp;HEADERS</strong></h3>
<hr />
<div class="param row">
<div class="name col-md-3">Content-Type</div>
<div class="value col-md-9">application/json</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
<div class="value col-md-9">&nbsp;</div>
<div class="value col-md-9">&nbsp;</div>
</div>
</div>
<div class="request-body">
<h3 class="body-heading"><strong>&nbsp; BODY</strong></h3>
<hr />


<div class="param row">
<div class="name col-md-3">statename</div>
<div class="value col-md-9">UP</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">collegename</div>
<div class="value col-md-9">BIET JHANSI</div>
</div>
<hr />

</div>
</div>
                                </div>

                </div>
        <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
                            <button style=" border: 0px solid #23282e ;background-color:#761c19;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b class="btn btn-xs"> Get </b></button>
                                <div style="display: inline-block">http://hmsonline.herokuapp.com/api/hostel</div>

 <button data-toggle="collapse" data-target=".api5" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>

                                 <div  class="collapse api5">
<h3> <span style="color: #F5F5F5"> Getting All The Hostels List Present In The Database </span></h3>

<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="description">
<p>&nbsp;</p>
</div>
<div class="headers">
<h4 class="headers-heading"><strong>HEADERS</strong></h4>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
</div>
</div>
</div>
<h3 class="headers-heading">&nbsp;</h3>
</div>
</div>
</div>
</div>




                                 </div>

                </div>
        <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
                            <button style=" border: 0px solid #23282e ;background-color:#5cb85c;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b >Post</b></button>
                                <div style="display: inline-block">http://hmsonline.herokuapp.com/api/hostel</div>
 <button data-toggle="collapse" data-target=".api6" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>


                                 <div  class="collapse api6">
                                        <h3> <span style="color: #F5F5F5"> Used To Add hostels In The Database </span></h3>
                                     <div class="api-information">
<div class="headers">
<h3 class="headers-heading"><strong>&nbsp;HEADERS</strong></h3>
<hr />
<div class="param row">
<div class="name col-md-3">Content-Type</div>
<div class="value col-md-9">application/json</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
<div class="value col-md-9">&nbsp;</div>
<div class="value col-md-9">&nbsp;</div>
</div>
</div>
<div class="request-body">
<h3 class="body-heading"><strong>&nbsp; BODY</strong></h3>
<hr />
<div class="param row">
<div class="name col-md-3">collegename</div>
<div class="value col-md-9">BIET</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">statename</div>
<div class="value col-md-9">UP</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">hostelname</div>
<div class="value col-md-9">APJ ABDUL</div>
</div>
<hr />

</div>
</div>
                                </div>

                </div>
        <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
                            <button style=" border: 0px solid #23282e ;background-color:#761c19;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b class="btn btn-xs"> Get </b></button>
                                <div style="display: inline-block">http://hmsonline.herokuapp.com/api/student</div>
 <button data-toggle="collapse" data-target=".api7" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>


                                  <div  class="collapse api7">
<h3> <span style="color: #F5F5F5"> Getting All The Students List Present In The Database </span></h3>

<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="description">
<p>&nbsp;</p>
</div>
<div class="headers">
<h4 class="headers-heading"><strong>HEADERS</strong></h4>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
</div>
</div>
</div>
<h3 class="headers-heading">&nbsp;</h3>
</div>
</div>
</div>
</div>




                                 </div>

                </div>
        <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
                            <button style=" border: 0px solid #23282e ;background-color:#5cb85c;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b >Post</b></button>
                                <div style="display: inline-block">http://hmsonline.herokuapp.com/api/student</div>
 <button data-toggle="collapse" data-target=".api8" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>


                                 <div  class="collapse api8">
                                             <h3> <span style="color: #F5F5F5"> Used To Add students In The Database </span></h3>
                                     <div class="api-information">
<div class="headers">
<h3 class="headers-heading"><strong>&nbsp;HEADERS</strong></h3>
<hr />
<div class="param row">
<div class="name col-md-3">Content-Type</div>
<div class="value col-md-9">application/json</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
<div class="value col-md-9">&nbsp;</div>
<div class="value col-md-9">&nbsp;</div>
</div>
</div>
<div class="request-body">
<h3 class="body-heading"><strong>&nbsp; BODY</strong></h3>
<hr />
<div class="param row">
<div class="name col-md-3">collegename</div>
<div class="value col-md-9">BIET</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">statename</div>
<div class="value col-md-9">UP</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">hostelname</div>
<div class="value col-md-9">APJ ABDUL</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">id</div>
<div class="value col-md-9">3</div>
</div>
</div>
</div>
                                </div>

                </div>

        <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
                            <button style=" border: 0px solid #23282e ;background-color:#5cb85c;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b >Post</b></button>
                                <div style="display: inline-block">http://hmsonline.herokuapp.com/api/login</div>
 <button data-toggle="collapse" data-target=".api9" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>

                                 <div  class="collapse api9">
                                     <h3> <span style="color: #F5F5F5"> Getting The token of a user if the credentials of user are correct else if incorrect return null</span></h3>

<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="headers">
<div class="api-information">
<div class="description">
<div class="api-information">
<div class="description">
<p>&nbsp;</p>
</div>
<div class="headers">
<div class="headers-heading">HEADERS</div>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
</div>
</div>
<div class="request-body">
<div class="body-heading">BODY</div>
<hr />
<div class="param row">
<div class="name col-md-3">username</div>
<div class="value col-md-9">test23@gmail.com</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">password</div>
<div class="value col-md-9">testpass</div>
</div>
</div>
</div>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>
                                </div>

                </div>
                <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
                            <button style=" border: 0px solid #23282e ;background-color:#5cb85c;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b >Post</b></button>
                                <div style="display: inline-block">http://hmsonline.herokuapp.com/api/register    </div>

 <button data-toggle="collapse" data-target=".api10" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>

                                 <div  class="collapse api10">
 <h3> <span style="color: #F5F5F5">User register Genrate token if the the user registered else retrn null</span></h3>

<div class="headers">
<div class="headers-heading">HEADERS</div>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
</div>
</div>
<div class="request-body">
<div class="body-heading">BODY</div>
<hr />
<div class="param row">
<div class="name col-md-3">username</div>
<div class="value col-md-9">test2</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">password</div>
<div class="value col-md-9">test2</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">emailid</div>
<div class="value col-md-9">test2@gmail.com</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">updaterequired</div>
<div class="value col-md-9">false</div>
</div>
</div>
                                </div>

                </div>
                <div style="background-color:#222222; color:#FFF;"class="panel panel-info" >
  <button style=" border: 0px solid #23282e ;background-color:#5cb85c;color: #FFFFCC;text-align:center"  data-toggle="collapse" data-target=".api1" class="panel-heading"> <b >Post</b></button>
                    <div style="display: inline-block">http://hmsonline.herokuapp.com/api/register</div>
 <button data-toggle="collapse" data-target=".api11" style=" border: 0px solid #98978b ;padding:0;background-color:#F5F5F5;color: #000000;text-align:center"  class="panel-heading pull-right"> <b class="btn btn-xs"> Toggle View</b></button>


                                 <div  class="collapse api11">
 <h3> <span style="color: #F5F5F5">Changing User Login info, four fields to supply if the updaterequired field is true then update the user password if it is false then create a  new user</span></h3>


<div class="headers">
<div class="headers-heading">
<div class="api-information">
<div class="headers">
<div class="headers-heading">HEADERS</div>
<hr />
<div class="param row">
<div class="name col-md-3">Authorization</div>
<div class="value col-md-9">token 438c23b3442a54a99b4c2a4441dcc2649f6b05b</div>
</div>
</div>
<div class="request-body">
<div class="body-heading">BODY</div>
<hr />
<div class="param row">
<div class="name col-md-3">username</div>
<div class="value col-md-9">test</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">password</div>
<div class="value col-md-9">test2</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">emailid</div>
<div class="value col-md-9">test2@gmail.com</div>
</div>
<hr />
<div class="param row">
<div class="name col-md-3">updaterequired</div>
<div class="value col-md-9">true</div>
</div>
</div>
</div>
</div>
</div>
                                </div>

                </div>















    </div>
    <div style="position: fixed ;" class=" col-md-5 col-sm-4 col-sm-offset-7  ">

    <div class="panel " style="margin-right: 10px ; margin-top:27px;z-index: 7;box-shadow: #2C2C2C;padding: 2px 10px;background-color: #222222">
        <div class="panel-heading ">
            <hr>
            <h3 style="text-align: center;color: white ;">Usage Instructions </h3>
            <hr>
            <br><br><br>
            <ul style="font-size: 17px; ">
                  <li style="color: #F5F5F5" class="glyphicon  glyphicon-hand-right">
                   <p style="display: inline-block"> Click on Toggle View For more info</p>
                </li><br><br>
                <li style="color: #F5F5F5" class="glyphicon  glyphicon-hand-right">
                   <p style="display: inline-block"> For Adding Fields Make sure to use Token</p>
                </li><br><br>
                <li style="color: #F5F5F5;display: block" class="glyphicon glyphicon-hand-right">
                   <p style="display: inline-block">Use Tools Like Curl Or httpie For Testing </p>
                </li><br>
                <li style="color: #F5F5F5" class="glyphicon glyphicon-hand-right">
                <p style="display: inline-block"> Contact Us For Any Authorization Error</p>
                </li><br><br>

            </ul>
            <br>
</p>
           <p style="text-align: center;"> <a style="color: white;" href="mailto:hmsonline@gmail..com?Subject=QueryRegardingAutherization" target="_top">Contact Us For Any Further Query</a></p>
        </div>

    </div>

</div>
    </div>

</div>

{% endblock %}