{% extends 'ui/profile_base.html' %}
{% block maincontent %}
<div class="container container-fluid" style="background-color: navajowhite">

  {% block content %}
    <h1>ALLOTMENT INFO </h1>

    {% if student_info %}
    <ul>

      {% for student in student_info %}
      <li>
          Student Name ::   &nbsp &nbsp&nbsp&nbsp&nbsp{{ student.studentname }}
          <hr>
      </li>
            <li>
          Student Emailid ::  &nbsp &nbsp&nbsp&nbsp&nbsp  {{ student.studentemailid }}
                <hr>
      </li>
            <li>
          Student Hostel ::  &nbsp &nbsp&nbsp&nbsp&nbsp  {{ student.hostelname }}
                <hr>
      </li>
        <li>
          Student College ::   &nbsp &nbsp&nbsp&nbsp&nbsp{{ student.studentname }}
          <hr>
      </li>
            <li>
          Student State ::  &nbsp &nbsp&nbsp&nbsp&nbsp  {{ student.statename }}
                <hr>
      </li>
            <li>
          Student BloodGroup ::  &nbsp &nbsp&nbsp&nbsp&nbsp  {{ student.studentbloodgp }}
                <hr>
      </li>
            <li>
          Student Rollno ::   &nbsp &nbsp&nbsp&nbsp&nbsp{{ student.studentrollno }}
          <hr>
      </li>
            <li>
          Student RoomNo::  &nbsp &nbsp&nbsp&nbsp&nbsp  {{ student.studentroomno }}
                <hr>
      </li>
            <li>
          Student Year ::  &nbsp &nbsp&nbsp&nbsp&nbsp  {{ student.studentyear }}
                <hr>
      </li>

      {% endfor %}

    </ul>
    {% else %}
      <p>Allocation Not Done OR Update Your Info From The App Or Using The Api Or Contact at yokeshrana@gmail.com</p>
    {% endif %}
{% endblock %}


</div>

{% endblock %}
