{#<h1>Hello</h1>#}
{#<ul>#}
{#{% for choice in content.items %}#}
{#  <li>{{choice.0}} - {{choice.1}}</li>#}
{#{% endfor %}#}
{#</ul>#}
{% extends 'ui/base.html' %}
{% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}

{% block Login %}
    <li><a href="/ui/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="/ui/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
{% endblock %}
{% block body %}
<div id="myCarousel" class="carousel slide " style="margin-left: 2%;margin-right: 2%;margin-bottom: 20%" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active">
      <img class="img img-responsive" src="{% static 'ui/res/biet/vrindavan.jpg' %}" alt="Vrindavan Bhawan ">
    </div>
    <div class="item ">
      <img class="img img-responsive" src="{% static 'ui/res/biet/saket.jpg' %}" alt="Saket Bhawan">
    </div>



    <div class="item">
      <img class="img img-responsive" src="{% static 'ui/res/biet/kalpana.jpg' %} " alt="Kalpana">
    </div>

    <div class="item">
      <img class="img img-responsive" src="{% static 'ui/res/biet/jaibharat.jpg' %}" alt="Jaibharat">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="panel panel-default " style="margin-left: 2%;margin-right: 2% ;margin-top: -18%">
					<div class="panel panel-heading" style="background-color:#222222; color:#FFF;">&nbsp;Hostel Management System</div>


							<div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);">
								<div class="container-fluid">


										<div class="row">
										<!-------post----->
											<div class="col-md-12">

															<p>Hostel management is an essential feature in both large and small institutions. Hostel management involves efficiently managing several aspects of the entire residential facility and reducing staff and manual work.
                                                                The hostel management system has been created to help the college or school staff and the student to easily register and use the facilities while keeping track of their activities within the premises.
                                                                The hostel management system consists of various modules that begin with the registration .</p>

											</div>

										</div>
								</div>


				</div>


	</div>
<div style="margin-left: 2%;margin-right: 2%">

     <div class="panel panel-default col-sm-4" >
					<div class="panel panel-heading " style="background-color:#222222; color:#FFF;">&nbsp;Latest Information And Notices</div>


							<div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);">
								<div class="container-fluid">


										<div class="row">
										<!-------post----->
											<div class="col-md-12" style="margin-left: 10px; " >
                              <p style="height:226px ;overflow-y:scroll">
                        <marquee direction="up" scrollamount="2" >


                    <a href="">Notice Regarding Some Info</a><br>
					<a href="">Notice Regarding Some Info</a><br>
					<a href="">Notice Regarding Some Info</a><br>
                    <a href="">Notice Regarding Some Info</a><br>
					<a href="">Notice Regarding Some Info</a><br>
					<a href="">Notice Regarding Some Info</a><br>
					<a href="">Notice Regarding Some Info</a><br>
					<a href="">Notice Regarding Some Info</a><br>
					<a href="">Notice Regarding Some Info</a><br>
					<a href="">Notice Regarding Some Info</a><br>
                    <a href="">Notice Regarding Some Info</a><br>


					</marquee></p>  	</div>

										</div>
								</div>


				</div>


	</div>

    <div class="panel panel-default col-sm-4" >
					<div class="panel panel-heading " style="background-color:#222222; color:#FFF;">&nbsp;Links</div>


							<div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);">
								<div class="container-fluid">


										<div class="row">
										<!-------post----->
											<div class="col-md-12 " >

<div style="height:236px;">
    <span class="glyphicon glyphicon-hand-right"> <a style="color: black" href="/api"> API For Accessing The Content</a></span><br><br>
    <span class="glyphicon glyphicon-hand-right"> <a   style="color: black" href="http://playstore.com"> Our Android App </a></span><br><br>

    <span class="glyphicon glyphicon-hand-right"> <a  style="color: black"  href="/login"> Search Student </a></span><br><br>
    <span class="glyphicon glyphicon-hand-right"> <a  style="color: black"  href="/login"> Search College </a></span><br><br>
    <span class="glyphicon glyphicon-hand-right"> <a  style="color: black"  href="/login"> Hostel Information </a></span><br><br>
    <span class="glyphicon glyphicon-hand-right"> <a  style="color: black"  href="/login"> Search Blood Group </a></span><br><br>



</div>


											</div>

										</div>
								</div>


				</div>


	</div>
    <div style=""class="panel panel-default col-sm-4" >
					<div class="panel panel-heading" style="background-color:#222222; color:#FFF;">&nbsp;Our Aim</div>


							<div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);">
								<div class="container-fluid">


										<div class="row">
										<!-------post----->
											<div class="col-md-12">
<div style="height:215px;">
<h3>Aim</h3>
<p>We aim to provide a platform for the student ,faculty,and others in need to fully utitlize all the features
of this Website And Have a fruitfull Communication with the student that you wanna interact.
</p>

</div>


											</div>

										</div>
								</div>


				</div>


	</div>

</div>
<div style="color: #000;">Yokesh Rana</div>
<div class="panel panel-default " style="margin-left: 2%;margin-right: 2%">
					<div class="panel panel-heading" style="background-color:#222222; color:#FFF;">&nbsp;Our Mission</div>


							<div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);">
								<div class="container-fluid">


										<div class="row">
										<!-------post----->
											<div class="col-md-12">
                                                <span><b>'To Provide Connectivity all Around'</b></span>
											</div>

										</div>
                                    <div class="row">
										<!-------post----->
											<div class="col-md-12">
                                                <span>'In this Modern Technical World Everyone is Equipped With Latest Bundle oF Technology So we need to Change with Time And we Must Follow And Carry oN .With This  Vision We Tried our best to manage Hostel Management System
                                                    Online Through The Api Interface and The Online Website And Our Android App'</span>
											</div>

										</div>
								</div>


				</div>


	</div>

<div class="footer navbar-fixed-bottom " style="background-color: #000" ><span style="color: #000; margin-left: 50%;margin-right: 50%">Hello</span> </div>
</body>
</html>
{% endblock %}