{% extends 'ui/profile_base.html' %}
{% block maincontent%}
<div class="container container-fluid" style="background-color: navajowhite">

  <h2 style="text-align: center;border:2px solid;padding: 10px">Welcome {{ user.username  }}</h2>


</div>
    <br><br><br>
<div class="container container-fluid" style="background-color: navajowhite">

    <h1><b>Instructions</b></h1>
    <ul style="font-size: 17px; ">
                  <li class="glyphicon  glyphicon-hand-right">
                   <p  style="display: inline-block"> Click on Toggle Action on The upper left corner For more Actions</p>
                </li><br><br>
                <li class="glyphicon  glyphicon-hand-right">
                   <p style="display: inline-block"> You Need To be Logged in For performing Any Actions</p>
                </li><br><br>
                <li  class="glyphicon glyphicon-hand-right">
                   <p  style="display: inline-block">Hostel Allocation Will Not Be Done Immediately </p>
                </li><br><br>
                <li class="glyphicon glyphicon-hand-right">
                <p  style="display: inline-block"z> The Hostel Allocated Result Can Be Checked On this date --></p>
                </li><br><br>

            </ul>










</div>

{% endblock %}

