{% extends 'ui/profile_base.html' %}
{% block maincontent %}
    <div class="container"><div class="panel" style="background-color: navajowhite">
        <br>

<form class="form-horizontal" role="form" action='' method="post">

                        {% csrf_token %}
    <br>
                        {% include 'ui/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div style="display: inline-block">Enter O+ve , O-ve , AB+ve , AB-ve like This For Searching</div>
                                <br>
                                <button style="display: inline-block;" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>


                    </form>
</div></div>


{% endblock %}
